.history-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1rem;
  .history-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid gray;
    .items {
      display: flex;
      flex-direction: column;
      .order-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed;
      }
    }
    .total {
      padding: 0.25rem;
      align-self: flex-end;
      background-color: cornflowerblue;
      color: black;
    }
  }
}
